@CHARSET "ISO-8859-1";
/*  Author: bacuong;
*	Description: Style for place;
*	
*/

@import "layout.css";

div#header .title{
	font-family: "Lucida Calligraphy" !important;
	font-weight: bold;
}
div#header p{
	color: #364DFF;
}

body{
	color: white;
}

a{
	color: white;
}

a:hover {
	color: #e7e7f0;
	text-decoration: none;
}

/* Style wrap-item */
div.wrap-item{
	background-color: #968987;
	padding: 2em;
	border-top: 5px solid #bcb1af;
	margin-bottom: 30px;
}

/* Style nav */

div#nav {
	background-color: #805149;
	border-top: #CC8174 solid 3px;
}

div#nav a{
	color: white;
	border-left: 2px solid #333;
}

div#nav a:hover{
	background-color: #975E4F;
}

div#nav li.active a{
	background-color: #975E4F;
}

/* Style side */
div#side{
	margin-top: 5em;
	padding: 0;
	background-color: #968987;
	padding: 2em;
}

div#side-img{
	text-align: right;
	padding: 0;
}

div#event{
	background-color: #7F7F7F;
	min-height: 340px;
	color: white;
}

div#event ul li{
	background-color: #7F7F7F;
}



div#thucdon{
	margin-top: 5em;
	background-color: #968987;
	padding: 2em;
}

div#thucdon{
	margin-top: 5em;
	background-color: #968987;
	padding: 2em;
}

div#thucdon ul li a{
	color: white;
}

div#thucdon ul li a:hover{
	color: #333;
}

div#thucdon ul li.active a{
	background-color: #96908E;
}

div#chitiet div.ct-item{
	padding-right: 1em;
}

div#chitiet div.ct-item div.panel-body{
	height: 500px;
	overflow: auto;
}

div.panel li{
	background-color: #7F7F7F;
}

div.panel div.panel-body{
	background-color: #7F7F7F;
}
